<!-- <mat-card>
  <form #loginForm="ngForm">

    <h2>Username</h2><input matInput type="text" name="username" ngModel required minlength="3" #username="ngModel">
    <h2>Password</h2><input matInput type="password" name="password" ngModel required minlength="3" #password="ngModel">

    <p><button mat-raised-button color="accent" type="submit" (click)="login(loginForm)" [routerLink]="['/myUploads']">Login</button></p> 
  </form>
</mat-card> -->

<h1>Login</h1>
<mat-card class="container">
  <form #loginForm="ngForm">
    <div class="center">
        <h2><i class="material-icons">people</i> Username:</h2>
        <input matInput type="text" name="username" ngModel required minlength="3" #username="ngModel">

         <h2><i class="material-icons">description</i> Password:</h2>
         <input matInput type="password" name="password" ngModel required minlength="3" #password="ngModel">
  
        <br><br>
        <button mat-raised-button color="accent" type="submit" (click)="login(loginForm)" [routerLink]="['/myUploads']">Login</button> 
    </div>
  </form>
</mat-card>