<mat-card>
  <form (submit)="onAddPost(postForm,'admin')" #postForm="ngForm">

    <h2>Title</h2><input matInput type="text" name="title" ngModel required minlength="3" #title="ngModel">
    <!-- <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error> -->

    <h2>Description</h2><textarea matInput rows="4" name="description" width="100" ngModel required #description="ngModel"></textarea>

    <h2>Image</h2><textarea matInput rows="4" name="image" width="100" ngModel required #image="ngModel"></textarea>
    <!-- <mat-error *ngIf="content.invalid">Please enter a post title.</mat-error> -->

    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>