<!-- SIDE NAV AND TOOLBAR -->
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <i class="material-icons">camera_enhance</i>
    <h2>PIC_POSTER</h2>
    <span class="userSpace"></span>

    <h2>Welcome {{loginUser}}</h2><img alt="" src="{{avatar}}" class="user" width="40px" height="40px">
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a *ngIf="loggedIn == 'true'" mat-list-item [routerLink]="['/create']"><i class="material-icons">add_circle</i>
          CREATE POST</a>
        <a mat-list-item [routerLink]="['/list']"><i class="material-icons">list</i> RECENT POSTS</a>
        <a *ngIf="loggedIn == 'false'" mat-list-item [routerLink]="['/user']"><i class="material-icons">person_add</i>
          CREATE USER</a>
        <a *ngIf="loggedIn == 'false'" mat-list-item [routerLink]="['/login']"><i class="material-icons">face</i> LOGIN</a>
        <a *ngIf="loggedIn == 'true'" mat-list-item [routerLink]="['/myUploads']"><i class="material-icons">photo_library</i>
          MY UPLOADS</a>
        <a *ngIf="loggedIn == 'true'" class="logout" mat-list-item (click)="logout()"><i class="material-icons">power_settings_new</i>
          LOGOUT</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>